# ==========================================
# Configuración de la Aplicación NestJS
# ==========================================
APP_CONTAINER_NAME=cine-backend-nest
APP_PORT=3000
NODE_ENV=development

# ==========================================
# Autenticación y Seguridad (JWT)
# ==========================================
JWT_SECRET=super_secret_jwt_key_cine_backend_2026
JWT_EXPIRES_IN=24h

# ==========================================
# Base de Datos PostgreSQL
# ==========================================
DB_CONTAINER_NAME=cine-postgres-db
POSTGRES_USER=nodejs
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db
DATABASE_URL=postgres://nodejs:123456@db:5432/postgres

# ==========================================
# Límites de Recursos para Contenedores
# ==========================================
APP_CPU_LIMIT=2
APP_MEM_LIMIT=512MB
DB_CPU_LIMIT=2
DB_MEM_LIMIT=512MB

# ==========================================
# Servicios Externos (TMDB y Correo)
# ==========================================
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=ea8f4b8e54c39763ad29521391245594
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=riwicine@gmail.com
SMTP_PASS=rpstsmwezsnskpid
SMTP_FROM=riwicine@gmail.com
